@model IEnumerable<JoeVideoStore.Models.RentalMovie>

@using JoeVideoStore.Contexts
@{
    ViewBag.Title = "Index";
    DataBaseContext db = ViewBag.db;
}

<h2>Rented Movies</h2>


<table class="table table-bordered table-striped">
    <tr></tr>
    <tr class="success">
        <th>
            Movie
        </th>
        <th>
            Customer Name
        </th>
        <th>
            Rental Start
        </th>
        <th>
            Rental End
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td>
                @{
                    var movie = db.Movies.Find(item.MovieId);
                    if (movie == null)
                    {
                        <small class="text-center" >- - movie  removed - -</small>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => movie.Title)
                    }
           

                }
                
                
            </td>

            <td>
                @{
                    var customer = db.Customers.Find(item.CustomerId);
                    if (customer == null)
                    {
                        <small class="text-center">- - customer  removed - -</small>
                    }
                    else
                    {
                        var fullname = customer.FirstName + " " + customer.LastName;
                        @Html.DisplayFor(modelItem => fullname)
                    }
           
                }

            </td>

            <td>
                @Html.DisplayFor(modelItem => item.RentStart)
            </td>

            <td>
                @{
                    bool rented = item.RentStart.Equals(item.RentEnd);
                    string rentedStr = rented ? "Rented" : item.RentEnd.ToString();

                }

                @Html.DisplayFor(modelItem => rentedStr)
            </td>

            <td>
                @{
                    if (rented)
                    {
                        @Html.ActionLink("Return Movie", "ReturnRentalMovie", new { id = item.Id }, new { @class = "btn btn-primary btn-xs" });
                    }
                }
            </td>
        </tr>
                    }

</table>
