@model JoeVideoStore.Models.RentalCustomer
@using JoeVideoStore.Models
@{
    ViewBag.Title = "Details";
    var fullname = Model.FirstName + " " + Model.LastName;
    List<MovieModel> movies = ViewBag.movieTitles;
}

<h2>Customers</h2>

<h4>Rented Movies for @fullname</h4>

<table class="table table-bordered table-striped">
    <tr></tr>
    <tr class="success">
        <th>
            Title
        </th>
        <th>
            Length
        </th>
        <th>
            Rating
        </th>
        <th>
            Genre
        </th>
    </tr>

@foreach (var item in movies)
{
    <tr>
        <td>
            @item.Title
        </td>
        <td>
            @item.Length
        </td>
        <td>
            @item.Rating
        </td>
        <td>
            @item.Genre
        </td>
    </tr>
}

</table>


<p>
    @Html.ActionLink("Back to Customers", "Index", null, new { @class = "btn btn-primary btn-xs" })
</p>
